@use "variables";

header {
    position: fixed;
    z-index: 1;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    border-bottom: 1px solid #ffffff30;
    transition: all ease 0.3s;
    .container {
        position: relative;
        .menu-header,
        .logo {
            display: flex;
            align-items: center;
        }
        .menu-header {
            justify-content: flex-end;
            #btn-header-orcamento {
                margin-right: 15px;
            }
            .icon-search {
                width: 20px;
                border-right: 1px solid #ffffff30;
                padding: 30px 25px 30px 0;
                box-sizing: content-box;
                svg {
                    cursor: pointer;
                    transition: all ease 0.3s;
                    &:hover {
                        transform: scale(1.2);
                    }
                }
            }
            #secondary-menu-header {
                display: flex;
                align-items: center;
                nav {
                    margin: 0 15px;
                }
            }
            #icon-menu {
                position: relative;
                width: 30px;
                height: 10px;
                margin-left: 25px;
                cursor: pointer;
                #icon-menu-top,
                #icon-menu-bottom {
                    &:before {
                        content: "";
                        position: absolute;
                        width: 100%;
                        height: 2px;
                        background-color: #fff;
                        transition: all ease 0.3s;
                    }
                }
                #icon-menu-top {
                    &:before {
                        top: 0;
                    }
                }
                #icon-menu-bottom {
                    &:before {
                        bottom: 0;
                    }
                }
                &:hover {
                    #icon-menu-top {
                        &:before {
                            top: -2px;
                        }
                    }
                    #icon-menu-bottom {
                        &:before {
                            bottom: -2px;
                        }
                    }
                }
            }
        }
        #div-search {
            position: absolute;
            width: 100%;
            height: 0;
            top: 110%;
            input {
                color: variables.$primary-color;
                background: rgba(255, 255, 255, 0.6);
                backdrop-filter: blur(10px);
                -webkit-backdrop-filter: blur(10px);
                border: none;
                border-radius: 30px;
                padding: 0 15px;
                outline: none;
                height: 0;
                width: 100%;
                transition: all ease 0.3s;
            }
            &.active {
                input {
                    padding: 5px 15px;
                    height: 40px;
                }
            }
        }
    }
    #menu-scroll {
        position: fixed;
        top: -90px;
        background-color: #fff;
        color: variables.$primary-color;
        width: 100%;
        z-index: 100;
        transition: all ease 0.3s;
        svg {
            path {
                fill: variables.$primary-color;
            }
        }
        .container {
            .menu-header {
                .icon-search {
                    border: none;
                    padding: 20px 25px 20px 0;
                    svg {
                        path {
                            fill: variables.$secondary-color;
                        }
                    }
                }
                .menu {
                    li {
                        .sub-menu {
                            background: #fff;
                            backdrop-filter: none;
                            -webkit-backdrop-filter: none;
                        }
                        &.menu-item-has-children {
                            &::after {
                                color: variables.$primary-color;
                            }
                        }
                    }
                    a {
                        color: variables.$primary-color;
                    }
                }
                .button-orcamento {
                    position: relative;
                    padding: 0 19.5px;
                    margin-right: 19.5px;
                    &::before {
                        content: "";
                        position: absolute;
                        top: -10%;
                        right: 0;
                        width: 1px;
                        height: 120%;
                        background-color: variables.$secondary-color;
                    }
                }
            }
        }
        &.active {
            top: 0;
        }
    }
    #menu-mobile {
        display: none;
    }
    &.menu-scroll {
        border: none;
        .row-menu-header {
            opacity: 0;
            z-index: -1;
        }
    }
}
