@use "variables";

#slider-topo {
    margin-bottom: 0;
    width: 100%;
    .slick-prev {
        display: none !important;
    }
    .slider-item {
        img,
        video {
            width: 100%;
            height: 100vh;
            object-fit: cover;
            object-position: top;
        }
    }
    .container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        .slider-text {
            width: 30%;
            h2 {
                font-size: variables.$font-size-large;
                line-height: variables.$line-height-font-size-large;
                font-weight: bold;
                color: variables.$secondary-color;
            }
            h2::first-line,
            p {
                line-height: variables.$line-height-font-size-base;
                color: variables.$font-color;
            }
            p {
                margin-bottom: 0;
            }
        }
        a {
            margin-top: 20px;
        }
    }
    .slick-dots {
        bottom: 5%;
        right: 5%;
        width: max-content;
        li {
            margin: 0;
            button {
                &:before {
                    content: "";
                    background: #fff;
                    color: #fff;
                    transition: all ease 0.3s;
                    border: 2px solid #fff;
                    border-radius: 50%;
                    width: 15px;
                    height: 15px;
                    opacity: 1;
                }
            }
            &.slick-active {
                button {
                    &:before {
                        border-color: #a4c659;
                    }
                }
            }
        }
    }
}
#nossos-servicos {
    background: #d9d9d9;
    padding: 80px 0 50px 0;
    #slider-nossos-servicos {
        padding-top: 60px;
        overflow: hidden;
        .row-items-servicos {
            flex-wrap: nowrap;
            gap: 15px;
            padding-left: 15px;
            padding-right: 100px;
            overflow: auto;
            .item {
                display: flex;
                justify-content: space-between;
                background-color: #fff;
                padding: 0;
                border-radius: 5px;
                width: 450px;
                cursor: pointer;
                transition: all ease 0.3s;
                .left-title {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 100px;
                    writing-mode: sideways-lr;
                    text-orientation: mixed;
                    line-height: 1.1;
                    white-space: nowrap;
                    h3 {
                        color: #dbdbdb;
                        opacity: 0.35;
                        font-weight: bold;
                        padding: 15px 0;
                        margin: 0;
                    }
                }
                .content-item {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    gap: 20px;
                    padding-bottom: 25px;
                    img {
                        max-width: 100%;
                        border-radius: 0 5px 0 0;
                    }
                    h3 {
                        font-size: variables.$font-size-medium;
                        font-weight: bold;
                    }
                    h4 {
                        font-size: variables.$font-size-base;
                    }
                    .saiba-mais {
                        width: max-content;
                        min-width: 140px;
                        &:hover {
                            background-color: #000;
                            color: #fff;
                        }
                    }
                }
                &.active,
                &.desactive {
                    .left-title,
                    .saiba-mais {
                        display: none;
                    }
                    .content-item {
                        position: relative;
                        width: 100%;
                        padding-bottom: 0;
                        height: 400px;
                        img {
                            border-radius: 5px;
                            height: 100%;
                            object-fit: cover;
                        }
                        .titles {
                            position: absolute;
                            left: 5%;
                            bottom: 10%;
                            color: #fff;
                        }
                    }
                }
                &.active {
                    width: 60%;
                }
                &.desactive {
                    width: 25%;
                }
            }
        }
    }
    .content-servico {
        h2,
        h3 {
            font-size: variables.$font-size-base;
            line-height: variables.$line-height-font-size-base;
        }
        .subservicos-wrapper {
            display: grid;
            grid-auto-flow: column;
            grid-auto-columns: calc(12.4%);
            gap: 60px;
            overflow-x: auto;
            overflow-y: hidden;
            scroll-snap-type: x mandatory;
            .slick-prev {
                left: 0;
            }
            .slick-next {
                right: 0;
            }
            .subservico-item {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-align: center;
                gap: 15px;
                h3 {
                    margin-bottom: 0;
                }
            }
        }
    }
}
#sobre-anos-mercados {
    position: relative;
    background-color: variables.$primary-color;
    padding: 80px 0 40px 0;
    z-index: 0;
    .anos {
        p {
            &.anos {
                font-size: variables.$font-size-large;
                line-height: variables.$line-height-font-size-large;
                font-weight: bold;
                span {
                    color: variables.$secondary-color;
                    font-size: variables.$font-size-xlarge;
                    line-height: variables.$line-height-font-size-xlarge;
                    font-weight: 100;
                }
            }
        }
    }
    .mercados-de-atuacao {
        h3 {
            font-size: variables.$font-size-medium;
            line-height: variables.$line-height-font-size-medium;
            font-weight: bold;
            color: variables.$font-color;
            span {
                color: variables.$secondary-color;
            }
        }
        .lista-mercados-de-atuacao {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 40px;
            .item {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 15px;
                h3 {
                    font-weight: 100;
                    margin-bottom: 0;
                }
            }
        }
    }
    &::before {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 75%;
        background: url("../../assets/images/before_sobre_sec1.png") no-repeat
            left bottom;
        background-size: contain;
        z-index: -1;
    }
}
#nossos-valores {
    background-color: #2b4a3b;
    padding: 40px 0 60px 0;
    .dados {
        display: flex;
        justify-content: space-evenly;
        h3 {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            font-size: variables.$font-size-xlarge;
            line-height: variables.$line-height-font-size-xlarge;
            color: variables.$secondary-color;
            font-weight: 300;
            span {
                font-size: variables.$font-size-medium;
                line-height: variables.$line-height-font-size-medium;
                font-weight: 100;
                &::first-line {
                    color: variables.$font-color;
                }
            }
        }
    }
    .missao,
    .visao,
    .valores {
        background-color: rgba(0, 0, 0, 0.22);
        color: #fff;
        padding: 30px 40px;
        border-radius: 5px;
        flex: 1;
        h3 {
            font-size: variables.$font-size-large;
            line-height: variables.$line-height-font-size-large;
            text-transform: uppercase;
            font-weight: bold;
            margin-bottom: 25px;
            span {
                color: variables.$secondary-color;
            }
        }
    }
    .missao-visao {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 12px;
    }
    .nossos-valores {
        display: flex;
        .valores {
            .lista-nossos-valores {
                display: flex;
                flex-direction: column;
                gap: 10px;
                .item {
                    gap: 10px;
                    svg {
                        min-width: 15px;
                        width: 15px;
                    }
                    h4 {
                        font-size: variables.$font-size-base;
                        line-height: variables.$line-height-font-size-base;
                        font-weight: lighter;
                    }
                }
            }
        }
    }
}
#nossos-clientes {
    background-color: #d9d9d9;
    padding: 90px 0;
    .row-items-nossos-clientes {
        display: grid;
        grid-auto-flow: column;
        grid-auto-columns: 8.8%;
        gap: 16px;
        overflow-x: auto;
        overflow-y: hidden;
        scroll-snap-type: x mandatory;
    }
}
#sobre-noticias {
    background-color: variables.$primary-color;
    padding: 90px 0;
    .controls-slider button {
        border-color: #fff;
        svg {
            path {
                fill: #fff;
            }
        }
        &:hover {
            background: #fff;
            svg {
                path {
                    fill: variables.$primary-color;
                }
            }
        }
    }
    #slider-sobre-noticias {
        padding-top: 60px;
        overflow: hidden;
        .row-items-noticias {
            flex-wrap: nowrap;
            gap: 10px;
            padding-left: 15px;
            padding-right: 100px;
            overflow: auto;
            .item {
                width: 400px;
                padding: 0;
                overflow: hidden;
                a {
                    display: flex;
                    text-decoration: none;
                    height: 100%;
                    .content-item {
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        padding-bottom: 10px;
                        gap: 15px;
                        border-radius: 5px;
                        background-color: #fff;
                        figure {
                            border-radius: 5px;
                            overflow: hidden;
                            img {
                                border-radius: 5px;
                                transition: all ease 0.3s;
                            }
                        }
                        .texts {
                            display: flex;
                            flex-direction: column;
                            gap: 15px;
                            padding: 0 30px;
                            h3 {
                                font-size: variables.$font-size-base;
                                line-height: variables.$line-height-font-size-base;
                                color: variables.$secondary-font-color;
                            }
                            span {
                                color: #b3b3b3;
                            }
                        }
                    }
                    &:hover {
                        img {
                            transform: scale(1.2);
                        }
                    }
                }
            }
        }
    }
    .btn {
        &:hover {
            border-color: variables.$secondary-color;
        }
    }
}
#entre-em-contato {
    position: relative;
    background: url("../images/bg-fale-conosco.png") center/cover no-repeat;
    padding: 90px 0;
    .texts {
        position: relative;
        gap: 20px;
        color: #fff;
        h2 {
            color: variables.$font-color;
            span {
                color: variables.$secondary-color;
            }
        }
        a {
            width: max-content;
        }
        .dados-contato {
            gap: 5px;
            svg {
                width: 20px;
            }
            a {
                color: variables.$font-color;
                text-decoration: none;
                transition: all ease 0.3s;
                &:hover {
                    color: variables.$secondary-color;
                }
            }
        }
        &::before {
            content: "";
            position: absolute;
            top: -5%;
            left: -42px;
            width: 5px;
            height: 110%;
            background-color: #fff;
            border-radius: 5px;
        }
    }
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(to right, #000000b0 0, transparent 60%);
    }
}
