@use "variables";

@media (max-width: 991px) {
    .lista-cases {
        grid-template-columns: repeat(2, 1fr) !important;
    }
}

@media (max-width: 767px) {
    .lista-cases {
        grid-template-columns: repeat(1, 1fr) !important;
    }
}

@media (max-width: 768px) {
    .form-row {
        flex-direction: column;
    }
    .fields {
        flex-direction: column;
    }
    .submit-button {
        text-align: center;
    }
    .section-title {
        padding-left: 25px;
        &::before {
            left: 0 !important;
        }
    }
    .black-mask-mob {
        position: relative;
        z-index: 0;
        &::before,
        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba($color: #000000, $alpha: 0.54);
            z-index: -1;
        }
    }
}

// Modal
@media (max-width: 767px) {
    .modal {
        .modal-content {
            .modal-body {
                .items-slider {
                    .slider-item {
                        .texts {
                            bottom: initial !important;
                        }
                    }
                }
            }
        }
    }
}

// Header

@media (max-width: 991px) {
    header {
        #menu-mobile {
            display: block;
        }
    }
}

@media (max-width: 768px) {
    #btn-header-orcamento {
        display: none;
    }
    header {
        .container {
            #div-search {
                left: 0;
                padding: 0 15px;
            }
            .menu-header {
                #secondary-menu-header {
                    display: none;
                }
            }
            #menu-mobile {
                position: absolute;
                top: 0;
                left: 0;
                background: variables.$secondary-color;
                width: 100dvw;
                height: 100dvh;
                padding: 15px 30px;
                overflow: auto;
                transform: translateX(-1200px);
                transition: all ease 0.5s;
                z-index: 1000;
                #menu-menu-principal-1 {
                    display: flex;
                    flex-direction: column;
                    gap: 15px;
                    li {
                        a {
                            font-size: variables.$font-size-base;
                            color: variables.$primary-color;
                            font-weight: bold;
                        }
                        ul {
                            display: block;
                            position: relative;
                            background: transparent;
                            padding: 5px 0;
                            li {
                                padding: 0;
                            }
                            &.sub-menu {
                                a {
                                    font-weight: lighter;
                                }
                            }
                        }
                        &::after {
                            color: variables.$secondary-color;
                        }
                    }
                }
                #close-menu-mobile {
                    position: fixed;
                    top: 15px;
                    right: 20px;
                    z-index: 101;
                    svg {
                        width: 25px;
                        path {
                            fill: variables.$primary-color;
                        }
                    }
                }
                &.active {
                    transform: translateX(0);
                }
            }
        }
    }
}

@media (min-width: 575px) {
    header {
        #menu-mobile {
            &.active {
                left: -24px;
            }
        }
    }
}

// Home

// Banner

@media (max-width: 768px) {
    #slider-topo {
        .container {
            .slider-text {
                width: 75%;
            }
        }
    }
}

// Nossos serviços

@media (max-width: 991px) {
    #nossos-servicos {
        padding: 50px 0 20px 0;
        #slider-nossos-servicos {
            padding-top: 40px;
            .row-items-servicos {
                .item {
                    &.active {
                        width: 75%;
                    }
                    &.desactive {
                        width: 40%;
                    }
                }
            }
        }
        .content-servico {
            .subservicos-wrapper {
                grid-template-columns: repeat(5, 1fr);
                gap: 20px;
                grid-auto-columns: unset;
                grid-auto-flow: row;
                .subservico-item {
                    h3 {
                        font-size: variables.$font-size-small;
                        line-height: variables.$line-height-font-size-small;
                    }
                }
            }
        }
    }
}
@media (max-width: 767px) {
    #nossos-servicos {
        padding: 50px 0 20px 0;
        #slider-nossos-servicos {
            .row-items-servicos {
                .item {
                    &.active {
                        width: 100%;
                    }
                    &.desactive {
                        width: 75%;
                    }
                }
            }
        }
        .content-servico {
            .subservicos-wrapper {
                grid-template-columns: repeat(3, 1fr);
            }
        }
    }
}

// Sobre a Tecnosonda

@media (max-width: 768px) {
    #sobre-anos-mercados {
        .mercados-de-atuacao {
            .item {
                h3 {
                    font-size: variables.$font-size-base;
                    line-height: variables.$line-height-font-size-base;
                }
            }
        }
    }
    #sobre-noticias {
        padding: 50px 0;
        #slider-sobre-noticias {
            .row-items-noticias {
                .item {
                    width: 100%;
                    height: 350px;
                    a {
                        .content-item {
                            figure {
                                height: 230px;
                            }
                        }
                    }
                }
            }
        }
    }
}

// Nossos valores

@media (max-width: 768px) {
    #nossos-valores {
        .dados {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 20px;

            > *:nth-child(3) {
                grid-column: 1 / -1;
            }
        }
        .missao,
        .valores,
        .visao {
            padding: 20px;
        }
    }
}

// Nossos clientes

@media (max-width: 768px) {
    #nossos-clientes {
        padding: 50px 0;
        .row-items-nossos-clientes {
            grid-auto-columns: 30%;
        }
    }
}

// Entre em contato

@media (max-width: 768px) {
    #entre-em-contato {
        .texts {
            padding-left: 15px;
        }
    }
}

// Page Nossa história

@media (max-width: 991px) {
    #page-nossa-historia {
        .container-marcos {
            .marcos {
                .marcos-wrapper {
                    grid-auto-columns: 120% !important;
                }
            }
        }
    }
}

@media (max-width: 767px) {
    #page-nossa-historia {
        .container-marcos {
            .marcos {
                .marcos-wrapper {
                    grid-auto-columns: 200% !important;
                }
            }
        }
    }
}

// Page Áreas de Atuação

@media (max-width: 991px) {
    #page-areas-de-atuacao {
        #engenharia-civil {
            .lista-engenharia-civil {
                grid-template-columns: repeat(4, 1fr) !important;
                gap: 30px !important;
            }
        }
    }
}

@media (max-width: 767px) {
    #page-areas-de-atuacao {
        #engenharia-civil {
            .lista-engenharia-civil {
                grid-template-columns: repeat(3, 1fr) !important;
            }
        }
    }
}

// Page Nossos Serviços
@media (max-width: 991px) {
    #page-nossos-servicos {
        .container-text-image {
            background-size: cover !important;
        }
        .sobre {
            min-height: max-content;
        }
        .show-after {
            padding-bottom: 0 !important;
        }
    }
}

// Single Serviços
@media (max-width: 991px) {
    #single-nossos-servicos {
        #slider-imagens-servico {
            button {
                display: none !important;
            }
            .slick-track {
                gap: 0 !important;
            }
        }
        .container-text-image {
            background-size: cover !important;
        }
        .sobre {
            min-height: max-content;
        }
        #icones {
            #lista-icones {
                grid-template-columns: repeat(auto-fit, 150px) !important;
            }
        }
    }
}

@media (max-width: 768px) {
    #single-nossos-servicos {
        #subservicos {
            padding-bottom: 0 !important;
            .content-subservico {
                .case-modelo {
                    margin-bottom: 0 !important;
                    .content-case {
                        position: relative !important;
                        top: -70px;
                        .texts {
                            flex-direction: column;
                            gap: 15px !important;
                        }
                    }
                }
            }
        }
    }
}

// Page Soluções Integradas

@media (max-width: 991px) {
    #page-solucoes-integradas {
        #descricao {
            padding: 0 !important;
        }
        .container-text-image {
            background-size: cover !important;
        }
        .sobre {
            min-height: max-content;
        }
        .show-after {
            padding-bottom: 0 !important;
        }
        #container-circulo {
            padding: 40px 0 80px !important;
            #circulo {
                .item-circulo {
                    &.item-0 {
                        top: -48px !important;
                    }
                    &.item-1 {
                        top: -48px !important;
                    }
                    &.item-2 {
                        right: calc(100% + 24px) !important;
                    }
                    &.item-3 {
                        left: calc(100% + 24px) !important;
                    }
                    &.item-4 {
                        top: 170px !important;
                    }
                    &.item-5 {
                        top: 170px !important;
                    }
                    &.item-6 {
                        bottom: -40px !important;
                    }
                    &.item-7 {
                        bottom: -40px !important;
                    }
                }
            }
        }
    }
}
@media (max-width: 767px) {
    #page-solucoes-integradas {
        #container-circulo {
            #circulo-nossos-servicos {
                transform: scale(0.55);
                #circulo {
                    width: 70% !important;
                }
            }
        }
    }
}

// Page Orçamento

@media (max-width: 768px) {
    #page-orcamento {
        #container-form {
            .section-title {
                width: 100% !important;
            }
        }
    }
}

// Page Notícias

@media (max-width: 991px) {
    #page-noticias {
        #post-mais-recente {
            .post-title {
                width: 75% !important;
            }
        }
    }
}

@media (max-width: 767px) {
    #page-noticias {
        #post-mais-recente {
            .post-title {
                width: 100% !important;
            }
        }
    }
}

// Formulários

@media (max-width: 768px) {
    .wpcf7 {
        form {
            .form-row {
                &.cols-1-2,
                &.cols-3 {
                    grid-template-columns: repeat(1, 1fr) !important;
                }
            }
        }
    }
}

// Footer

@media (max-width: 768px) {
    footer {
        .logo {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .certificacoes {
            align-items: center;
            margin: 30px 0;
        }
        .links {
            gap: 20px !important;
        }
    }
}
