@use "variables";

@media (max-width: 991px) {
    .lista-cases {
        grid-template-columns: repeat(2, 1fr) !important;
    }
    #banner {
        min-height: 40dvh !important;
        img {
            min-height: 40dvh !important;
        }
    }
    #top-page {
        padding-bottom: 20px;
    }
    #entre-em-contato {
        background-position-x: 80%;
    }
    .black-mask-mob {
        position: relative;
        z-index: 0;
        &::before,
        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba($color: #000000, $alpha: 0.54);
            z-index: -1;
        }
    }
    .img-mobile {
        img {
            max-height: 400px;
            object-fit: cover;
        }
    }
}

@media (max-width: 767px) {
    .lista-cases {
        grid-template-columns: repeat(1, 1fr) !important;
    }
    #entre-em-contato {
        background-position-x: 75%;
    }
}

@media (max-width: 768px) {
    .form-row {
        flex-direction: column;
    }
    .fields {
        flex-direction: column;
    }
    .submit-button {
        text-align: center;
    }
    .section-title {
        padding-left: 25px;
        &::before {
            left: 0 !important;
        }
    }
    .btn-large {
        font-size: variables.$font-size-small !important;
        padding: 6px 24px !important;
    }
}

// Modal
@media (max-width: 991px) {
    .modal {
        .modal-content {
            width: 90dvw !important;
            left: 5dvw !important;
        }
        &.contactModal {
            .modal-content {
                width: 90dvw;
                left: 5dvw;
                .modal-body {
                    padding: 15px;
                }
            }
        }
    }
}
@media (max-width: 767px) {
    .modal {
        .modal-content {
            .modal-body {
                .items-slider {
                    .slick-next,
                    .slick-prev {
                        top: calc(25dvh - 12.5px) !important;
                        transform: none !important;
                    }
                    .slider-item {
                        .thumbnail {
                            height: 50dvh;
                        }
                        .texts {
                            grid-template-columns: repeat(1, 1fr) !important;
                            gap: 10px;
                            top: 45dvh;
                            bottom: initial !important;
                        }
                    }
                }
            }
        }
    }
}

// Seção de posts

@media (max-width: 768px) {
    .section-category {
        .top-category {
            a {
                font-size: variables.$font-size-xsmall !important;
                line-height: variables.$line-height-font-size-xsmall !important;
            }
        }
    }
}

// Header

@media (max-width: 991px) {
    header {
        #menu-mobile {
            display: block;
        }
        #menu-scroll {
            display: none;
        }
        &.menu-scroll {
            background: #fff;
            border-bottom: 1px solid rgba(255, 255, 255, 0.1882352941);
            svg {
                path {
                    fill: variables.$primary-color;
                }
            }
            #icon-menu {
                span {
                    &::before {
                        background-color: variables.$primary-color !important;
                    }
                }
            }
            .row-menu-header {
                position: relative;
                opacity: 1;
                z-index: 1;
            }
        }
    }
}

@media (max-width: 991px) {
    #btn-header-orcamento {
        display: none;
    }
    header {
        .container {
            #div-search {
                left: 0;
                padding: 0 15px;
            }
            .menu-header {
                #secondary-menu-header {
                    display: none;
                }
            }
            #menu-mobile {
                position: absolute;
                top: 0;
                left: 0;
                background: variables.$secondary-color;
                width: 100dvw;
                height: 100dvh;
                padding: 15px 30px;
                overflow: auto;
                transform: translateX(-1200px);
                transition: all ease 0.5s;
                z-index: 1000;
                #menu-menu-principal-1 {
                    display: flex;
                    flex-direction: column;
                    gap: 15px;
                    li {
                        a {
                            font-size: variables.$font-size-base;
                            color: variables.$primary-color;
                            font-weight: bold;
                        }
                        ul {
                            display: block;
                            position: relative;
                            background: transparent;
                            padding: 5px 0;
                            li {
                                padding: 0;
                            }
                            &.sub-menu {
                                a {
                                    font-weight: lighter;
                                }
                            }
                        }
                        &::after {
                            color: variables.$secondary-color;
                        }
                    }
                }
                #close-menu-mobile {
                    position: fixed;
                    top: 15px;
                    right: 20px;
                    z-index: 101;
                    svg {
                        width: 25px;
                        path {
                            fill: variables.$primary-color;
                        }
                    }
                }
                &.active {
                    transform: translateX(0);
                }
            }
        }
    }
}

// Home

// Banner

@media (max-width: 768px) {
    #slider-topo {
        .container {
            .slider-text {
                width: 75%;
            }
        }
    }
}

// Nossos serviços

@media (max-width: 991px) {
    #nossos-servicos {
        padding: 50px 0 20px 0;
        #slider-nossos-servicos {
            padding-top: 40px;
            .row-items-servicos {
                .item {
                    width: 100%;
                    &.active {
                        width: 75%;
                    }
                    &.desactive {
                        width: 40%;
                    }
                }
            }
        }
        .content-servico {
            .subservicos-wrapper {
                grid-template-columns: repeat(5, 1fr);
                gap: 20px;
                grid-auto-columns: unset;
                grid-auto-flow: row;
                .subservico-item {
                    h3 {
                        font-size: variables.$font-size-small;
                        line-height: variables.$line-height-font-size-small;
                    }
                }
            }
        }
    }
}
@media (max-width: 767px) {
    #nossos-servicos {
        padding: 50px 0 20px 0;
        #slider-nossos-servicos {
            .row-items-servicos {
                .item {
                    &.active {
                        width: 100%;
                    }
                    &.desactive {
                        width: 75%;
                    }
                }
            }
        }
        .content-servico {
            .subservicos-wrapper {
                grid-template-columns: repeat(3, 1fr);
            }
        }
    }
}

// Sobre a Tecnosonda

@media (max-width: 768px) {
    #sobre-anos-mercados {
        .mercados-de-atuacao {
            .item {
                h3 {
                    font-size: variables.$font-size-base;
                    line-height: variables.$line-height-font-size-base;
                }
            }
        }
    }
    #sobre-noticias {
        padding: 50px 0;
        #slider-sobre-noticias {
            .row-items-noticias {
                .item {
                    width: 100%;
                    height: 350px;
                    a {
                        .content-item {
                            figure {
                                height: 230px;
                            }
                        }
                    }
                }
            }
        }
    }
}

// Nossos valores

@media (max-width: 768px) {
    #nossos-valores {
        .dados {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 20px;
            > *:nth-child(3) {
                grid-column: 1 / -1;
            }
        }
        .missao,
        .valores,
        .visao {
            padding: 20px;
        }
    }
}

@media (max-width: 500px) {
    #nossos-valores {
        .dados {
            h3 {
                font-size: 50px;
                line-height: 1;
            }
        }
    }
}

// Nossos clientes

@media (max-width: 768px) {
    #nossos-clientes {
        padding: 50px 0;
        .row-items-nossos-clientes {
            grid-auto-columns: 30%;
        }
    }
}

// Entre em contato

@media (max-width: 768px) {
    #entre-em-contato {
        .texts {
            padding-left: 15px;
        }
    }
}

// Page Sobre Nós

@media (max-width: 991px) {
    #page-sobre-nos {
        .container-text-image {
            background-image: none !important;
            .sobre {
                padding: 30px 0;
                min-height: auto;
                height: auto !important;
                max-height: max-content !important;
            }
        }
    }
}

// Page Nossa história

@media (max-width: 991px) {
    #page-nossa-historia {
        .container-text-image {
            background-image: none !important;
            .sobre {
                padding: 30px 0;
                min-height: auto;
                height: auto !important;
                max-height: max-content !important;
            }
        }
        .container-marcos {
            .marcos {
                .marcos-wrapper {
                    grid-auto-columns: 120% !important;
                }
            }
        }
    }
}

@media (max-width: 767px) {
    #page-nossa-historia {
        .container-marcos {
            .marcos {
                .marcos-wrapper {
                    grid-auto-columns: 200% !important;
                }
            }
        }
    }
}

// Page Áreas de Atuação

@media (max-width: 991px) {
    #page-areas-de-atuacao {
        #engenharia-civil {
            .lista-engenharia-civil {
                grid-template-columns: repeat(4, 1fr) !important;
                gap: 30px !important;
            }
        }
    }
}

@media (max-width: 767px) {
    #page-areas-de-atuacao {
        #engenharia-civil {
            .lista-engenharia-civil {
                grid-template-columns: repeat(3, 1fr) !important;
            }
        }
    }
}

// Page Nossos Serviços
@media (max-width: 991px) {
    #page-nossos-servicos {
        .container-text-image {
            background-size: cover !important;
        }
        .sobre {
            min-height: max-content;
        }
        .show-after {
            padding-bottom: 0 !important;
        }
    }
}

// Single Serviços
@media (max-width: 991px) {
    #single-nossos-servicos {
        #slider-imagens-servico {
            .slick-track {
                gap: 0 !important;
            }
        }
        .container-text-image {
            background-image: none !important;
        }
        .sobre {
            min-height: auto;
            height: auto !important;
            max-height: max-content !important;
        }
        #icones {
            #lista-icones {
                grid-template-columns: repeat(2, 1fr) !important;
            }
        }
    }
}

@media (max-width: 768px) {
    #single-nossos-servicos {
        #subservicos {
            padding-bottom: 0 !important;
            .content-subservico {
                .case-modelo {
                    margin-bottom: 0 !important;
                    .content-case {
                        position: relative !important;
                        top: -70px;
                        .texts {
                            flex-direction: column;
                            gap: 15px !important;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 767px) {
    #single-nossos-servicos {
        .container-slider-imagens-servico {
            #slider-imagens-servico {
                .slick-prev,
                .slick-next {
                    z-index: 1;
                }
                .slick-prev {
                    left: 10px !important;
                }
                .slick-next {
                    right: 10px !important;
                }
            }
        }
        #icones {
            #lista-icones {
                grid-template-columns: repeat(1, 1fr) !important;
            }
        }
    }
}

// Page Soluções Integradas

@media (max-width: 991px) {
    #page-solucoes-integradas {
        #descricao {
            padding: 0 !important;
        }
        .container-text-image {
            background-size: cover !important;
        }
        .sobre {
            min-height: auto;
            height: auto !important;
        }
        .show-after {
            padding-bottom: 0 !important;
        }
        #container-circulo {
            padding: 40px 0 80px !important;
            #circulo {
                .item-circulo {
                    &.item-0 {
                        top: -48px !important;
                    }
                    &.item-1 {
                        top: -48px !important;
                    }
                    &.item-2 {
                        right: calc(100% + 24px) !important;
                    }
                    &.item-3 {
                        left: calc(100% + 24px) !important;
                    }
                    &.item-4 {
                        top: 170px !important;
                    }
                    &.item-5 {
                        top: 170px !important;
                    }
                    &.item-6 {
                        bottom: -40px !important;
                    }
                    &.item-7 {
                        bottom: -40px !important;
                    }
                }
            }
        }
    }
}
@media (max-width: 767px) {
    #page-solucoes-integradas {
        #container-circulo {
            #circulo-nossos-servicos {
                transform: scale(0.55);
                #circulo {
                    width: 70% !important;
                }
            }
        }
    }
}

// Page Orçamento

@media (max-width: 991px) {
    #page-orcamento {
        #banner {
            img {
                object-position: right;
            }
        }
    }
}

@media (max-width: 768px) {
    #page-orcamento {
        #container-form {
            .section-title {
                width: 100% !important;
            }
        }
    }
}

// Page ESG

@media (max-width: 991px) {
    #page-esg {
        #banner {
            .section-title {
                .descricao {
                    width: 100% !important;
                }
            }
        }
        #container-listas {
            #listas {
                width: 100% !important;
                .lista {
                    padding: 25px 15px !important;
                }
            }
        }
        #container-images {
            .images-dados {
                img {
                    max-width: 300px;
                }
            }
        }
        #banner-certificacao {
            .content {
                width: 100% !important;
            }
        }
    }
}

@media (max-width: 767px) {
    #page-esg {
        #container-listas {
            #listas {
                grid-template-columns: repeat(2, 1fr) !important;
                .item-list {
                    font-size: variables.$font-size-small !important;
                    line-height: variables.$line-height-font-size-small !important;
                }
            }
        }
        #container-images {
            .dados {
                h3 {
                    text-align: center;
                }
            }
            .images-dados {
                img {
                    max-width: 150px;
                }
            }
        }
        #banner-certificacao {
            .content {
                .text {
                    text-align: center;
                    &::before {
                        left: 50% !important;
                        transform: translateX(-50%);
                    }
                }
            }
        }
    }
}

// Page ISO

@media (max-width: 991px) {
    #page-iso {
        #banner {
            .section-title {
                .descricao {
                    width: 100% !important;
                }
            }
        }
        #container-listas {
            #listas {
                grid-template-columns: repeat(2, 1fr) !important;
                width: 100% !important;
                .lista {
                    padding: 25px 15px !important;
                }
            }
        }
    }
}

@media (max-width: 767px) {
    #page-esg {
        #container-listas {
            #listas {
                grid-template-columns: repeat(1, 1fr) !important;
                .item-list {
                    font-size: variables.$font-size-small !important;
                    line-height: variables.$line-height-font-size-small !important;
                }
            }
        }
    }
}

// Page Fale Conosco

@media (max-width: 991px) {
    #page-fale-conosco {
        #top-page {
            .descricao {
                width: 100% !important;
            }
        }
        .content-dados {
            .title-dados {
                height: max-content !important;
            }
        }
    }
}

@media (max-width: 767px) {
    #page-fale-conosco {
        .content-dados {
            padding: 15px !important;
        }
        .localizacao {
            .content-dados {
                .title-dados {
                    height: max-content;
                }
            }
        }
    }
}

// Page Trabalhe Conosco

@media (max-width: 991px) {
    #page-trabalhe-conosco {
        #tecnosonda-valoriza {
            padding: 15px !important;
            margin-top: 50px !important;
            h2 {
                padding-left: 0 !important;
            }
            img {
                position: relative !important;
                top: initial !important;
                right: initial !important;
                width: 100% !important;
                max-width: 100% !important;
                margin-bottom: 40px;
            }
        }
    }
}

@media (max-width: 767px) {
    #page-trabalhe-conosco {
        #entrar-em-contato {
            padding-top: 40px !important;
            .box-contato {
                padding: 30px !important;
            }
        }
    }
}

// Page Seja um Fornecedor

@media (max-width: 991px) {
    #page-seja-um-fornecedor {
        #seja-nosso-parceiro {
            padding: 0 15px;
            .images-text {
                grid-template-columns: 0.25fr 1fr !important;
                grid-template-areas: none !important;
                grid-template-rows: auto auto;
                gap: 20px !important;
                align-items: center;
                .image1 {
                    grid-column: 1 !important;
                    grid-row: 1 !important;
                }
                .image23 {
                    grid-column: 1 !important;
                    grid-row: 2 !important;
                }
                .text {
                    padding: 30px !important;
                    grid-column: 2/3 !important;
                    grid-row: 1/3 !important;
                }
            }
        }
        #pre-cadastro {
            .images-text {
                grid-template-columns: 1fr 0.33fr 0.33fr !important;
                grid-template-areas: none !important;
                div {
                    grid-area: auto !important;
                }
            }
            .text {
                padding: 30px !important;
            }
        }
    }
}

@media (max-width: 767px) {
    #page-seja-um-fornecedor {
        #seja-nosso-parceiro {
            .images-text {
                grid-template-columns: 1fr 1fr !important;
                .image1 {
                    grid-column: 1 !important;
                    grid-row: 1 !important;
                }
                .image23 {
                    grid-column: 2 !important;
                    grid-row: 1 !important;
                }
                .text {
                    grid-column: 1/3 !important;
                    grid-row: 2 !important;
                }
            }
        }
        #pre-cadastro {
            .images-text {
                grid-template-columns: 1fr 1fr !important;
                .text {
                    grid-column: 1/3 !important;
                    grid-row: 1 !important;
                }
                .image1 {
                    grid-column: 1 !important;
                    grid-row: 2 !important;
                }
                .image2 {
                    grid-column: 2 !important;
                    grid-row: 2 !important;
                }
            }
        }
        #proximos-passos {
            .passos {
                padding: 30px !important;
            }
        }
    }
}

// Page Notícias

@media (max-width: 991px) {
    #page-noticias {
        #banner {
            min-height: 30dvh !important;
            form {
                width: 100% !important;
            }
        }
        #destaques {
            .section-title {
                h2 {
                    padding-left: 0 !important;
                }
            }
        }
        #post-mais-recente {
            .post-title {
                width: 75% !important;
            }
        }
        #parallax {
            background-attachment: unset !important;
        }
    }
}

@media (max-width: 767px) {
    #page-noticias {
        #banner {
            min-height: 40dvh !important;
        }
        #post-mais-recente {
            height: 400px !important;
            .post-title {
                width: 100% !important;
            }
        }
        .section-category {
            .top-category {
                .section-title {
                    h2 {
                        font-size: variables.$font-size-medium;
                    }
                }
            }
        }
        #destaques {
            .right-post {
                margin-top: 15px;
                gap: 15px !important;
                height: 500px;
            }
        }
    }
}

// Page Todas as Notícias e Categorias

@media (max-width: 991px) {
    #page-category {
        #banner {
            .box-category {
                padding: 50px !important;
                form {
                    width: 100% !important;
                }
            }
        }
    }
}

@media (max-width: 767px) {
    #page-category {
        #banner {
            .box-category {
                padding: 20px !important;
            }
        }
    }
}

// Single Notícias
@media (max-width: 768px) {
    #single-page {
        #outras-noticias {
            h2 {
                font-size: variables.$font-size-medium !important;
            }
        }
    }
}

// Formulários

@media (max-width: 768px) {
    .wpcf7 {
        form {
            .form-row {
                &.cols-1-2,
                &.cols-3 {
                    grid-template-columns: repeat(1, 1fr) !important;
                }
            }
        }
    }
}

// Footer

@media (max-width: 768px) {
    footer {
        .logo {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .certificacoes {
            align-items: center;
            margin: 30px 0;
        }
        .links {
            gap: 20px !important;
        }
    }
}
