@use "variables";

.page {
    .section-title {
        p {
            font-weight: 300;
            margin-bottom: revert;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    #top-page {
        padding-top: 150px;
    }
    #video {
        padding-bottom: 80px;
    }
    &#page-sobre-nos {
        .container-text-image {
            .compromisso {
                background-color: rgba(0, 0, 0, 0.22);
                border-radius: 5px;
                padding: 45px;
                p {
                    margin-bottom: 0;
                }
            }
        }
    }
    &#page-nossa-historia {
        .container-text-image {
            position: relative;
            background: variables.$primary-color;
            z-index: 0;
            &::before {
                content: "";
                position: absolute;
                top: 2%;
                left: 0;
                width: 100%;
                height: 100%;
                background: url("../../assets/images/before_sobre_sec1.png")
                    no-repeat left bottom;
                background-size: contain;
                opacity: 0.2;
                z-index: -1;
            }
        }
        .container-marcos {
            position: relative;
            background: variables.$primary-color;
            padding: 60px 0 80px;
            z-index: 0;
            .marcos {
                .marcos-wrapper {
                    display: grid;
                    grid-auto-flow: column;
                    grid-auto-columns: 70%;
                    height: 650px;
                    overflow-x: auto;
                    overflow-y: hidden;
                    scroll-snap-type: x mandatory;
                    padding-left: 7px;
                    .marco-item {
                        .content-marco {
                            position: relative;
                            height: 321.5px;
                            gap: 30px;
                            cursor: pointer;
                            .dot-top {
                                content: "";
                                position: absolute;
                                top: calc(20% - 15px);
                                left: -7px;
                                width: 15px;
                                height: 15px;
                                background-color: variables.$primary-color;
                                border: 2px solid #fff;
                                border-radius: 50%;
                            }
                            .dot-bottom {
                                content: "";
                                position: absolute;
                                bottom: -7.5px;
                                left: -7px;
                                width: 15px;
                                height: 15px;
                                background-color: variables.$primary-color;
                                border: 2px solid #fff;
                                border-radius: 50%;
                            }
                            &::before {
                                content: "";
                                position: absolute;
                                left: 0;
                                bottom: 0;
                                width: 1px;
                                height: 80%;
                                background-color: variables.$secondary-color;
                            }
                        }
                        &:nth-child(odd) {
                            align-items: flex-start;
                            .content-marco {
                                padding: 0 60px 30px 60px;
                                border-bottom: 1px solid
                                    variables.$secondary-color;
                                .texts {
                                    justify-content: center;
                                }
                            }
                        }
                        &:nth-child(even) {
                            align-items: flex-end;
                            .content-marco {
                                padding: 30px 60px 0 60px;
                                border-top: 1px solid variables.$secondary-color;
                                .dot-top {
                                    top: -7.5px;
                                }
                                .dot-bottom {
                                    bottom: calc(20% - 15px);
                                }

                                &::before {
                                    top: 0;
                                    bottom: inherit;
                                }
                            }
                        }
                    }
                }
            }
            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: url("../../assets/images/before-section.png")
                    no-repeat left bottom;
                background-size: cover;
                opacity: 0.03;
                filter: invert(1);
                z-index: -1;
            }
        }
    }
    &#page-areas-de-atuacao {
        #engenharia-civil {
            background-color: variables.$primary-color;
            padding: 30px 0 80px;
            h2 {
                font-size: variables.$font-size-medium;
                line-height: variables.$line-height-font-size-medium;
                color: variables.$font-color;
                span {
                    color: variables.$secondary-color;
                }
            }
            .lista-engenharia-civil {
                display: grid;
                grid-template-columns: repeat(6, 1fr);
                gap: 15px 60px;
                .item {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    gap: 15px;
                    h3 {
                        font-size: variables.$font-size-base;
                        line-height: variables.$line-height-font-size-base;
                        color: variables.$font-color;
                        font-weight: lighter;
                    }
                }
            }
        }
    }
    &#page-nossos-servicos {
        h3 {
            font-size: variables.$font-size-base;
            line-height: variables.$line-height-font-size-base;
        }
        a {
            &:hover {
                border-color: variables.$secondary-color;
            }
        }
        .show-after {
            padding-bottom: 80px;
        }
    }
    &#page-solucoes-integradas {
        #descricao {
            position: relative;
            padding: 60px 0;
            z-index: 0;
            .container-text-image {
                background-color: transparent;
                .section-title {
                    height: max-content;
                    h2 {
                        font-size: variables.$font-size-medium;
                        line-height: variables.$line-height-font-size-medium;
                    }
                    &::before {
                        top: 0;
                        height: 20%;
                    }
                }
            }
        }
        #container-circulo {
            position: relative;
            background-size: cover;
            padding: 90px 0;
            z-index: 0;
            #circulo-nossos-servicos {
                position: relative;
                #circulo {
                    position: relative;
                    width: 40%;
                    aspect-ratio: 1 / 1;
                    border-radius: 50%;
                    justify-content: center;
                    text-align: center;
                    padding: 20px;
                    border: 1px solid #fff;
                    box-shadow: 3px 2px 2px #0000004d;
                    .content-circulo {
                        background: linear-gradient(
                            180deg,
                            #fff,
                            #fafafa,
                            #eeeeee,
                            #d9d9d9,
                            #c3c3c3
                        );
                        border-radius: 50%;
                        width: 100%;
                        aspect-ratio: 1 / 1;
                        gap: 9px;
                        padding: 15px;
                        h2 {
                            position: relative;
                            font-size: variables.$font-size-small;
                            line-height: variables.$line-height-font-size-xsmall;
                            color: variables.$primary-color;
                            font-weight: bold;
                            text-transform: uppercase;
                            max-width: 70%;
                            &::first-line {
                                color: variables.$secondary-font-color;
                                font-weight: 100;
                            }
                            &::before {
                                content: "";
                                position: absolute;
                                left: 50%;
                                bottom: -8px;
                                transform: translateX(-50%);
                                width: 40%;
                                height: 1px;
                                background-image: repeating-linear-gradient(
                                    to right,
                                    #4d4d52 0,
                                    #4d4d52 2px,
                                    transparent 2px,
                                    transparent 5px
                                );
                            }
                        }
                        p {
                            font-size: 12px;
                            line-height: 12px;
                            color: #636363;
                        }
                    }
                    .item-circulo {
                        position: absolute;
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: flex-end;
                        gap: 5px;
                        width: max-content;
                        height: 60px;
                        background-color: variables.$primary-color;
                        color: variables.$secondary-color;
                        text-align: left;
                        font-size: variables.$font-size-xsmall;
                        line-height: 14px;
                        font-weight: bold;
                        transition: all ease 0.3s;
                        span {
                            width: 115px;
                            &::first-line {
                                color: variables.$font-color;
                            }
                        }
                        .icone-item {
                            position: relative;
                            display: flex;
                            width: 50px;
                            height: 50px;
                            &::before {
                                content: "";
                                position: absolute;
                                width: 32px;
                                height: 2px;
                                background-color: #fff;
                            }
                            &::after {
                                content: "";
                                position: absolute;
                                width: 9px;
                                height: 9px;
                                border-radius: 50%;
                                background-color: #fff;
                                box-shadow: 0px 0px 2px 3px #0000001f;
                            }
                        }
                        &:nth-child(odd) {
                            border-radius: 30px 0 0 30px;
                            padding-left: 5px;
                            flex-direction: row-reverse;
                            &::before {
                                right: -20px;
                                border-left: 20px solid variables.$primary-color;
                            }
                        }
                        &:nth-child(even) {
                            border-radius: 0 30px 30px 0;
                            padding-right: 5px;
                            &::before {
                                left: -20px;
                                border-right: 20px solid
                                    variables.$primary-color;
                            }
                            span {
                                &:first-child {
                                    padding-left: 15px;
                                }
                            }
                        }
                        &:nth-child(2) {
                            top: -40px;
                            right: calc(100% - 50px);
                            .icone-item {
                                &::before {
                                    bottom: -5px;
                                    right: -20px;
                                    transform: rotate(45deg);
                                }
                                &::after {
                                    bottom: -20px;
                                    right: -20px;
                                }
                            }
                        }
                        &:nth-child(3) {
                            top: -40px;
                            left: calc(100% - 50px);
                            .icone-item {
                                &::before {
                                    bottom: -5px;
                                    left: -20px;
                                    transform: rotate(135deg);
                                }
                                &::after {
                                    bottom: -20px;
                                    left: -20px;
                                }
                            }
                        }
                        &:nth-child(4) {
                            top: 75px;
                            right: calc(100% + 20px);
                            .icone-item {
                                &::before,
                                &::after {
                                    top: 50%;
                                    transform: translateY(-50%);
                                }
                                &::before {
                                    right: -32px;
                                }
                                &::after {
                                    right: -36px;
                                }
                            }
                        }
                        &:nth-child(5) {
                            top: 75px;
                            left: calc(100% + 20px);
                            .icone-item {
                                &::before,
                                &::after {
                                    top: 50%;
                                    transform: translateY(-50%);
                                }
                                &::before {
                                    left: -32px;
                                }
                                &::after {
                                    left: -36px;
                                }
                            }
                        }
                        &:nth-child(6) {
                            top: 185px;
                            right: calc(100% + 20px);
                            .icone-item {
                                &::before,
                                &::after {
                                    top: 30%;
                                    transform: translateY(-50%) rotate(170deg);
                                }
                                &::before {
                                    right: -30px;
                                }
                                &::after {
                                    right: -36px;
                                    top: calc(30% - 4px);
                                }
                            }
                        }
                        &:nth-child(7) {
                            top: 185px;
                            left: calc(100% + 20px);
                            .icone-item {
                                &::before,
                                &::after {
                                    top: 30%;
                                    transform: translateY(-50%) rotate(190deg);
                                }
                                &::before {
                                    left: -30px;
                                }
                                &::after {
                                    left: -36px;
                                    top: calc(30% - 4px);
                                }
                            }
                        }
                        &:nth-child(8) {
                            bottom: -35px;
                            right: calc(100% - 50px);
                            .icone-item {
                                &::before,
                                &::after {
                                    top: 5%;
                                    transform: translateY(-50%) rotate(140deg);
                                }
                                &::before {
                                    right: -23px;
                                }
                                &::after {
                                    right: -23px;
                                    top: calc(-5% - 4px);
                                }
                            }
                        }
                        &:nth-child(9) {
                            bottom: -35px;
                            left: calc(100% - 50px);
                            .icone-item {
                                &::before,
                                &::after {
                                    top: 5%;
                                    transform: translateY(-50%) rotate(220deg);
                                }
                                &::before {
                                    left: -23px;
                                }
                                &::after {
                                    left: -23px;
                                    top: calc(-5% - 4px);
                                }
                            }
                        }
                        &::before {
                            content: "";
                            position: absolute;
                            top: 50%;
                            transform: translateY(-50%);
                            width: 0;
                            height: 100%;
                            border-top: 30px solid transparent;
                            border-bottom: 30px solid transparent;
                            transition: all ease 0.3s;
                        }
                        &:hover {
                            background-color: rgba(
                                $color: #636363,
                                $alpha: 0.45
                            );
                            &::before {
                                border-right-color: rgba(
                                    $color: #636363,
                                    $alpha: 0.45
                                );
                                border-left-color: rgba(
                                    $color: #636363,
                                    $alpha: 0.45
                                );
                            }
                        }
                    }
                }
            }
            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba($color: #000000, $alpha: 0.77);
                z-index: -1;
            }
        }
    }
    &#page-orcamento {
        #container-form {
            padding: 60px 0;
            &.show-after {
                &::before {
                    height: 25%;
                }
                &::after {
                    height: 25%;
                }
            }
            .show-before {
                &::before {
                    top: 5%;
                    height: 65%;
                }
            }
            .section-title {
                width: 75%;
                margin: 0 auto;
                padding-left: 30px;
                &::before {
                    left: 0;
                }
                h2 {
                    font-size: variables.$font-size-medium;
                    line-height: 28px;
                }
            }
        }
    }
    &#page-certificacoes {
        #banner {
            z-index: 0;
            .section-title {
                height: inherit;
                max-width: 80%;
                padding-top: 20px;
                h1 {
                    margin-bottom: 15px;
                }
                p {
                    font-size: variables.$font-size-base;
                    line-height: variables.$line-height-font-size-base;
                }
            }
        }
        #banner-certificacao {
            position: relative;
            .logo-banner {
                position: absolute;
                left: 5%;
                top: 50%;
                transform: translateY(-50%);
                width: auto;
                max-height: 90%;
            }
        }
        #certificacoes {
            position: relative;
            padding: 20px 0 80px;
            z-index: 0;
            h2 {
                font-size: variables.$font-size-medium;
                line-height: variables.$line-height-font-size-medium;
            }
        }
    }
    &#page-esg {
        #banner {
            position: relative;
            z-index: 0;
            .section-title {
                height: max-content;
                h1 {
                    font-size: variables.$font-size-large;
                    line-height: variables.$line-height-font-size-large;
                    font-weight: bold;
                }
                .descricao {
                    width: 80%;
                }
                #pdfs {
                    grid-template-columns: repeat(2, 1fr);
                    gap: 30px;
                    .pdf-item {
                        a {
                            font-size: variables.$font-size-base;
                            line-height: variables.$line-height-font-size-base;
                            color: variables.$font-color;
                            gap: 15px;
                            text-decoration: none;
                            transition: all ease 0.3s;
                            svg {
                                min-width: 30px;
                                width: 30px;
                                path {
                                    transition: all ease 0.3s;
                                }
                            }
                        }
                        &:hover {
                            a {
                                color: variables.$secondary-color;
                                svg {
                                    path {
                                        fill: variables.$secondary-color;
                                    }
                                }
                            }
                        }
                    }
                }
                &::before {
                    top: -4%;
                    height: 108%;
                }
            }
        }
        #container-listas {
            position: relative;
            z-index: 0;
            padding: 40px 0 80px;
            #listas {
                grid-template-columns: repeat(3, 1fr);
                gap: 15px;
                width: 90%;
                margin: 0 auto;
                .lista {
                    background-color: rgba($color: #000000, $alpha: 0.22);
                    border-radius: 5px;
                    padding: 25px 30px;
                    .title-list {
                        position: relative;
                        line-height: 1;
                        padding-left: 15px;
                        h3 {
                            font-size: variables.$font-size-medium;
                            line-height: variables.$line-height-font-size-medium;
                            font-weight: bold;
                            span {
                                color: variables.$secondary-color;
                            }
                        }
                        .subtitulo {
                            font-size: variables.$font-size-xsmall;
                        }
                        &::before {
                            content: "";
                            position: absolute;
                            top: -5%;
                            left: 0;
                            width: 5px;
                            height: 110%;
                            background-color: variables.$secondary-color;
                            border-radius: 5px;
                        }
                    }
                    .itens_lista {
                        gap: 15px;
                        .item-list {
                            position: relative;
                            padding-left: 20px;
                            &::before {
                                content: "";
                                position: absolute;
                                top: 7px;
                                left: 0;
                                width: 9px;
                                height: 9px;
                                background-color: #fff;
                                border-radius: 50%;
                            }
                        }
                    }
                    .icones_lista {
                        gap: 10px;
                    }
                }
            }
        }
        #container-images {
            padding: 60px 0 70px;
            .dados {
                grid-template-columns: repeat(2, 1fr);
                gap: 50px 30px;
                .full {
                    grid-column: 1 / -1;
                }
                h3 {
                    span {
                        font-size: variables.$font-size-small;
                        line-height: variables.$line-height-font-size-small;
                        &:first-child {
                            font-size: 40px;
                            line-height: 49px;
                            font-weight: bold;
                            color: variables.$primary-color;
                        }
                    }
                }
            }
        }
        #banner-certificacao {
            .content {
                gap: 20px;
                width: 50%;
                .text {
                    position: relative;
                    p {
                        font-size: variables.$font-size-large;
                        line-height: variables.$line-height-font-size-large;
                        margin: 0;
                        font-weight: bold;
                        strong {
                            color: variables.$secondary-color;
                        }
                    }
                    &::before {
                        content: "";
                        position: absolute;
                        left: 0;
                        bottom: -10px;
                        width: 50%;
                        height: 5px;
                        background-color: variables.$secondary-color;
                        border-radius: 5px;
                    }
                }
            }
        }
    }
    &#page-iso {
        #banner {
            position: relative;
            z-index: 0;
            .section-title {
                height: max-content;
                h1 {
                    font-size: variables.$font-size-large;
                    line-height: variables.$line-height-font-size-large;
                    font-weight: bold;
                }
                .descricao {
                    width: 80%;
                }
                &::before {
                    top: -4%;
                    height: 108%;
                }
            }
        }
        #container-listas {
            position: relative;
            z-index: 0;
            padding-bottom: 100px;
            #listas {
                grid-template-columns: repeat(3, 1fr);
                gap: 15px;
                width: 90%;
                margin: 0 auto;
                .lista {
                    background-color: rgba($color: #000000, $alpha: 0.22);
                    border-radius: 5px;
                    padding: 25px 30px;
                    gap: 30px;
                    .title-list {
                        position: relative;
                        line-height: 1;
                        padding-left: 15px;
                        h3 {
                            font-size: variables.$font-size-medium;
                            line-height: variables.$line-height-font-size-medium;
                            font-weight: bold;
                            span {
                                color: variables.$secondary-color;
                            }
                        }
                        .subtitulo {
                            font-size: variables.$font-size-xsmall;
                        }
                        &::before {
                            content: "";
                            position: absolute;
                            top: -5%;
                            left: 0;
                            width: 5px;
                            height: 110%;
                            background-color: variables.$secondary-color;
                            border-radius: 5px;
                        }
                    }
                    p {
                        font-size: variables.$font-size-small;
                        line-height: variables.$line-height-font-size-small;
                        margin: 0;
                    }
                }
            }
        }
    }
    &#page-politica-de-privacidade-cookies {
        #banner {
            z-index: 0;
        }
        .section-title {
            height: max-content;
            h1 {
                font-size: variables.$font-size-large;
                line-height: variables.$line-height-font-size-large;
            }
            &.black-title {
                &::before {
                    background-color: #000;
                }
            }
            &::before {
                top: -15%;
                height: 130%;
            }
        }
    }
}
