@use "variables";

.page {
    #banner {
        position: relative;
        .texts {
            position: absolute;
            bottom: 20%;
            font-weight: bold;
            h1 {
                font-size: variables.$font-size-large;
                line-height: variables.$line-height-font-size-large;
                color: variables.$font-color;
                margin-bottom: 3px;
                font-weight: bold;
                span {
                    color: variables.$secondary-color;
                }
            }
            p {
                font-size: variables.$font-size-medium;
                line-height: variables.$line-height-font-size-medium;
                color: variables.$font-color;
            }
        }
    }
    &#page-sobre-nos {
        .container-sobre {
            position: relative;
            background: variables.$primary-color;
            z-index: 0;
            &.show-before {
                &::before {
                    content: "";
                    position: absolute;
                    top: 2%;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background: url("../../assets/images/before_sobre_sec1.png")
                        no-repeat left bottom;
                    background-size: contain;
                    opacity: 0.2;
                    z-index: -1;
                }
            }
            &.show-after {
                &::before {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    height: 50%;
                    background: url("../../assets/images/before-section.png")
                        no-repeat left bottom;
                    background-size: cover;
                    opacity: 0.07;
                    filter: invert(1);
                    -webkit-mask-image: linear-gradient(
                        to top,
                        rgba(0, 0, 0, 1),
                        rgba(0, 0, 0, 0)
                    );
                    -webkit-mask-repeat: no-repeat;
                    -webkit-mask-size: cover;
                    mask-image: linear-gradient(
                        to top,
                        rgba(0, 0, 0, 1),
                        rgba(0, 0, 0, 0)
                    );
                    mask-repeat: no-repeat;
                    mask-size: cover;
                    z-index: -2;
                }

                &::after {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    height: 20%;
                    background: linear-gradient(
                        to top,
                        rgba(0, 0, 0, 0.5),
                        transparent
                    );
                    z-index: -1;
                }
            }
            .compromisso {
                background-color: rgba(0, 0, 0, 0.22);
                border-radius: 5px;
                padding: 45px;
                p {
                    margin-bottom: 0;
                }
            }
        }
        #video {
            background: #d9d9d9;
            padding-bottom: 80px;
        }
    }
    &#page-nossa-historia {
        .container-sobre {
            position: relative;
            background: variables.$primary-color;
            z-index: 0;
            &::before {
                content: "";
                position: absolute;
                top: 2%;
                left: 0;
                width: 100%;
                height: 100%;
                background: url("../../assets/images/before_sobre_sec1.png")
                    no-repeat left bottom;
                background-size: contain;
                opacity: 0.2;
                z-index: -1;
            }
        }
        .container-marcos {
            position: relative;
            background: variables.$primary-color;
            z-index: 0;
            .marcos {
                .marcos-wrapper {
                    display: grid;
                    grid-auto-flow: column;
                    grid-auto-columns: 70%;
                    height: 650px;
                    overflow-x: auto;
                    overflow-y: hidden;
                    scroll-snap-type: x mandatory;
                    padding-left: 7px;
                    .marco-item {
                        .content-marco {
                            position: relative;
                            height: 321.5px;
                            gap: 30px;
                            cursor: pointer;
                            .dot-top {
                                content: "";
                                position: absolute;
                                top: calc(20% - 15px);
                                left: -7px;
                                width: 15px;
                                height: 15px;
                                background-color: variables.$primary-color;
                                border: 2px solid #fff;
                                border-radius: 50%;
                            }
                            .dot-bottom {
                                content: "";
                                position: absolute;
                                bottom: -7.5px;
                                left: -7px;
                                width: 15px;
                                height: 15px;
                                background-color: variables.$primary-color;
                                border: 2px solid #fff;
                                border-radius: 50%;
                            }
                            &::before {
                                content: "";
                                position: absolute;
                                left: 0;
                                bottom: 0;
                                width: 1px;
                                height: 80%;
                                background-color: variables.$secondary-color;
                            }
                        }
                        &:nth-child(odd) {
                            align-items: flex-start;
                            .content-marco {
                                padding: 0 60px 30px 60px;
                                border-bottom: 1px solid
                                    variables.$secondary-color;
                                .texts {
                                    justify-content: center;
                                }
                            }
                        }
                        &:nth-child(even) {
                            align-items: flex-end;
                            .content-marco {
                                padding: 30px 60px 0 60px;
                                border-top: 1px solid variables.$secondary-color;
                                .dot-top {
                                    top: -7.5px;
                                }
                                .dot-bottom {
                                    bottom: calc(20% - 15px);
                                }

                                &::before {
                                    top: 0;
                                    bottom: inherit;
                                }
                            }
                        }
                    }
                }
            }
            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: url("../../assets/images/before-section.png")
                    no-repeat left bottom;
                background-size: cover;
                opacity: 0.03;
                filter: invert(1);
                z-index: -1;
            }
        }
    }
}
