@use "variables";

.single {
    position: relative;
    z-index: 0;
    .show-before {
        &::before {
            top: 50%;
        }
    }
    #banner {
        min-height: unset;
        h2 {
            span {
                color: variables.$secondary-color;
            }
        }
    }
    #thumbnail {
        img {
            height: auto;
            max-width: 100%;
            max-height: 525px;
            object-fit: cover;
        }
    }
    .section-title {
        height: max-content;
        h1 {
            font-size: variables.$font-size-medium;
            line-height: variables.$line-height-font-size-medium;
            span {
                color: variables.$font-color !important;
            }
        }
        p {
            font-weight: 300;
            margin-bottom: inherit;
            &:last-child {
                margin-bottom: 0;
            }
        }
        &:before {
            height: 45%;
        }
    }
    .content-post {
        .section-title {
            padding-left: 18px;
            .data-publicacao {
                font-size: variables.$font-size-small;
                line-height: variables.$line-height-font-size-small;
            }
            &::before {
                left: 0;
                height: 100%;
            }
        }
    }
    &#single-nossos-servicos {
        .container-slider-imagens-servico {
            background-color: variables.$primary-color;
            #slider-imagens-servico {
                .slick-prev,
                .slick-next {
                    background-color: transparent;
                    border: 1px solid #fff;
                    svg {
                        width: 16px;
                        path {
                            transition: all ease 0.3s;
                        }
                    }
                    &::before {
                        content: "";
                    }
                    &:hover {
                        background-color: #fff;
                        opacity: 1;
                        svg {
                            path {
                                fill: variables.$primary-color;
                            }
                        }
                    }
                }
                .slick-prev {
                    left: -28px;
                }
                .slick-next {
                    right: -28px;
                }
                .slick-track {
                    display: flex;
                    gap: 8px;
                    .item {
                        position: relative;
                        height: 280px;
                        transition: all ease 0.8s;
                        img {
                            object-fit: cover;
                            height: 280px;
                        }
                        h3 {
                            font-size: variables.$font-size-small;
                            line-height: variables.$line-height-font-size-small;
                            color: variables.$font-color;
                            position: absolute;
                            left: 15px;
                            bottom: 15px;
                            opacity: 0;
                            transition: all ease 0.8s;
                        }
                        &.slick-active {
                            &.slick-current {
                                h3 {
                                    opacity: 1;
                                }
                            }
                            @media (min-width: 991px) {
                                width: calc(
                                    var(--container-width) / 4
                                ) !important;
                                &.slick-current {
                                    width: calc(
                                        var(--container-width) / 2
                                    ) !important;
                                }
                            }
                        }
                        &::before {
                            content: "";
                            position: absolute;
                            left: 0;
                            top: 0;
                            width: 100%;
                            height: 100%;
                            background-color: rgba(
                                $color: #000000,
                                $alpha: 0.48
                            );
                        }
                    }
                }
            }
        }
        #icones {
            position: relative;
            background-color: variables.$primary-color;
            padding: 70px 0 140px;
            z-index: 0;
            #lista-icones {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                gap: 30px 10px;
                background-color: rgba($color: #000000, $alpha: 0.22);
                border-radius: 5px;
                padding: 30px 15px;
                width: 85%;
                margin: 0 auto;
                .item {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 15px;
                    color: variables.$font-color;
                    text-align: center;
                    img {
                        max-width: max-content;
                    }
                    h3 {
                        font-weight: 100;
                        strong {
                            font-weight: bold;
                        }
                        p {
                            margin-bottom: 0;
                        }
                    }
                }
            }
            &::before {
                height: 100%;
            }
        }
        #subservicos {
            padding: 60px 0 90px;
            .section-title {
                h2 {
                    color: variables.$primary-color;
                }
                .options-subservicos {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: flex-start;
                    gap: 15px;
                    button {
                        &:hover,
                        &.active {
                            background-color: #000;
                            border-color: #000;
                            color: #fff;
                        }
                    }
                }
                &::before {
                    height: 100%;
                }
            }
            .content-subservico {
                .texto-subservico {
                    width: 95%;
                    margin: 0 auto;
                    p {
                        color: #636363;
                    }
                }
                .case-modelo {
                    position: relative;
                    margin-bottom: 80px;
                    .content-case {
                        position: absolute;
                        left: 1%;
                        bottom: -15%;
                        width: 98%;
                        .chapeu-case {
                            background-color: variables.$secondary-color;
                            color: variables.$primary-color;
                            font-size: variables.$font-size-base;
                            padding: 3px 30px;
                            border-radius: 30px;
                            margin-left: 2%;
                        }
                        .texts {
                            display: flex;
                            gap: 50px;
                            background-color: #fff;
                            border-radius: 5px;
                            padding: 20px 30px 40px;
                            h3 {
                                font-size: variables.$font-size-medium !important;
                                font-weight: bold;
                            }
                            svg {
                                width: 20px;
                            }
                            span {
                                font-weight: 500;
                                gap: 8px;
                            }
                            .conteudo-item {
                                font-size: variables.$font-size-small;
                                line-height: variables.$line-height-font-size-small;
                                flex: 1;
                            }
                        }
                    }
                }
            }
        }
        #cases {
            padding: 0 0 90px;
            .section-title {
                h2 {
                    color: variables.$primary-color;
                }
                &::before {
                    height: 100%;
                }
            }
        }
        #nossos-clientes {
            background-color: #fff;
            #slider-nossos-clientes {
                .slick-track {
                    display: flex;
                    align-items: center;
                    gap: 30px;
                }
            }
        }
        #compromisso {
            position: relative;
            background-color: variables.$primary-color;
            padding: 100px 0;
            z-index: 0;
            .section-title {
                &::before {
                    top: -70%;
                    height: 240%;
                }
            }
            .compromisso {
                background-color: rgba(0, 0, 0, 0.22);
                border-radius: 5px;
                padding: 45px;
                p {
                    margin: 0;
                }
            }
        }
    }
    #outras-noticias {
        .section-title {
            padding-left: 25px;
            &::before {
                left: 0;
                height: 100%;
            }
        }
    }
}
