@use "variables";
@use "fonts";
@use "header";
@use "footer";
@use "index";
@use "pages";
@use "single";
@use "mobile";

* {
    font-family: "Montserrat", sans-serif;
}
p {
    font-size: variables.$font-size-base;
    line-height: variables.$line-height-font-size-base;
}
h2 {
    font-size: variables.$font-size-large;
    font-weight: bold;
    span {
        font-weight: bold;
    }
}
strong {
    font-weight: bold;
}
ol,
ul {
    padding-left: 1rem;
}
ul:not(#menu-menu-principal, #menu-menu-principal-1, .sub-menu, .slick-dots) {
    list-style: none;
    li {
        position: relative;
        &::before {
            content: "";
            position: absolute;
            top: 7px;
            left: -1rem;
            width: 9px;
            height: 9px;
            background-color: #fff;
            border-radius: 50%;
        }
    }
}
input {
    outline: none;
}
.container-fluid {
    padding-left: 0;
    padding-right: 0;
}
.w-max-content {
    width: max-content !important;
}
.bg-primary {
    background-color: variables.$primary-color !important;
}
.bg-gray {
    background-color: #d9d9d9 !important;
}
.black-mask {
    position: relative;
    z-index: 0;
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba($color: #000000, $alpha: 0.54);
        z-index: -1;
    }
}
.stop-scroll {
    overflow: hidden;
}

// Banner

#banner {
    position: relative;
    min-height: 80dvh;
    img {
        min-height: 80dvh;
        object-fit: cover;
    }
    .texts {
        position: absolute;
        bottom: 20%;
        font-weight: bold;
        h1 {
            font-size: variables.$font-size-large;
            line-height: variables.$line-height-font-size-large;
            color: variables.$font-color;
            margin-bottom: 3px;
            font-weight: bold;
            span {
                color: variables.$secondary-color;
            }
        }
        p {
            font-size: variables.$font-size-medium;
            line-height: variables.$line-height-font-size-medium;
            color: variables.$font-color;
        }
    }
}
#top-page {
    padding-top: 150px;
}

// Container topo singles/pages

.container-text-image {
    position: relative;
    background: variables.$primary-color;
    z-index: 0;
}
.show-before {
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 85%;
        background: url("../../assets/images/before_sobre_sec1.png") no-repeat
            left bottom;
        background-size: contain;
        opacity: 0.2;
        z-index: -1;
    }
}
.show-after {
    &::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 50%;
        background: url("../../assets/images/before-section.png") no-repeat left
            bottom;
        background-size: cover;
        opacity: 0.1;
        filter: invert(1);
        -webkit-mask-image: linear-gradient(
            to top,
            rgba(0, 0, 0, 1),
            rgba(0, 0, 0, 0)
        );
        -webkit-mask-repeat: no-repeat;
        -webkit-mask-size: cover;
        mask-image: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
        mask-repeat: no-repeat;
        mask-size: cover;
        z-index: -2;
    }
    &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 70%;
        background: linear-gradient(to top, rgba(0, 0, 0, 0.4), transparent);
        z-index: -1;
    }
    &.after-top {
        &::before,
        &::after {
            top: 0;
            bottom: inherit;
        }
        &::before {
            transform: rotate(180deg);
        }
        &::after {
            background: linear-gradient(
                to top,
                transparent,
                rgba(0, 0, 0, 0.4)
            );
        }
    }
}

// Botões

.btn {
    font-size: variables.$font-size-small;
    text-decoration: none;
    border: 1px solid;
    border-radius: 30px;
    padding: 6px 18px;
    transition: all ease 0.3s;
    &.btn-large {
        font-size: variables.$font-size-base;
        padding: 8px 32px;
    }
}
.primary-btn {
    background-color: variables.$primary-color;
    border-color: variables.$primary-color;
    color: variables.$secondary-color;
    &:hover {
        background-color: variables.$secondary-color;
        border-color: variables.$secondary-color;
        color: variables.$primary-color;
    }
}
.secondary-btn {
    background-color: variables.$secondary-color;
    border-color: variables.$secondary-color;
    color: variables.$tertiary-color;
    &:hover {
        background-color: variables.$tertiary-color;
        border-color: variables.$tertiary-color;
        color: variables.$secondary-color;
    }
}
.transparent-btn {
    background-color: transparent;
    color: variables.$font-color;
    &:hover {
        background-color: variables.$font-color;
        color: variables.$primary-color;
    }
}
.white-btn {
    background-color: #fff;
    border-color: #fff;
    color: variables.$primary-color;
    font-weight: 500;
    &:hover {
        background-color: variables.$secondary-color;
        color: variables.$primary-color;
    }
}
.submit-btn {
    background-color: #fff;
    color: variables.$primary-color;
    font-weight: 500;
    &:hover {
        background-color: variables.$primary-color;
        color: #fff;
    }
}
.midia {
    position: relative;
    #play-midia {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 60px;
        height: 60px;
        background: #fff;
        border: none;
        border-radius: 50%;
        transition: all ease 0.3s;
        &:before {
            content: "\25B8";
            font-size: 35px;
            color: #006635;
            position: relative;
            left: 2px;
        }
        &:hover {
            opacity: 0.7;
        }
    }
}
.upload-archives {
    position: relative;
    input[type="file"] {
        display: none;
    }
}
input[type="checkbox"] {
    accent-color: variables.$secondary-color;
    transform: scale(1.2);
    cursor: pointer;
}
.btn-voltar {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: variables.$font-size-small;
    line-height: variables.$line-height-font-size-small;
    color: variables.$font-color;
    text-decoration: none;
    font-weight: bold;
    border: none;
    background: transparent;
    padding: 0;
    svg {
        width: 20px;
    }
}
// Menu header

.menu {
    margin: 0;
    padding: 0;
    display: flex;
    gap: 15px;
    li {
        position: relative;
        list-style: none;
        &.menu-item-has-children {
            position: relative;
            padding-right: 12px;
            &::after {
                content: "▼";
                color: variables.$font-color;
                position: absolute;
                right: 0;
                top: 50%;
                transform: translateY(-50%);
                font-size: 8px;
                pointer-events: none;
            }
            &:hover > .sub-menu {
                display: block;
            }
        }
        .sub-menu {
            display: none;
            position: absolute;
            top: 100%;
            left: 0;
            padding: 10px 0;
            background: rgba(255, 255, 255, 0.15);
            backdrop-filter: blur(20px);
            -webkit-backdrop-filter: blur(20px);
            min-width: 150px;
            width: max-content;
            z-index: 1;
            li {
                padding: 5px 20px;
            }
        }
    }
    a {
        display: block;
        font-size: variables.$font-size-small;
        color: variables.$font-color;
        text-decoration: none;
        &:hover {
            color: variables.$font-color;
        }
    }
}

// Titles

.section-title {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 90px;
    h2 {
        margin-bottom: 0;
    }
    span {
        color: variables.$primary-color;
    }
    p {
        font-weight: 500;
        margin-bottom: 0;
    }
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: var(--before-left, 0);
        width: 5px;
        height: 100%;
        background-color: variables.$primary-color;
        border-radius: 5px;
    }
    &.white-title {
        color: #fff;
        span {
            color: variables.$secondary-color;
        }
        &::before {
            background-color: variables.$secondary-color;
        }
    }
}

// Arrows slider

.slick-next,
.slick-prev {
    background-color: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    transition: all ease 0.3s;
    z-index: 1;
}
.slick-next:focus,
.slick-prev:focus {
    background-color: #fff;
    opacity: 1;
}
.slick-next:hover,
.slick-prev:hover {
    background-color: #fff;
    opacity: 0.7;
}
.slick-next {
    right: 5%;
}
.slick-prev {
    left: 5%;
}
.slick-next:before,
.slick-prev:before {
    font-family: none;
    font-size: 30px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}
.slick-next:before {
    content: "\25B8";
    color: #006635;
    left: 54%;
}
.slick-prev:before {
    content: "\25C2";
    color: #006635;
    left: 46%;
}
.slick-disabled {
    opacity: 0.5;
    cursor: default !important;
    pointer-events: none;
}
.small-arrows {
    .slick-next,
    .slick-prev {
        width: 25px;
        height: 25px;
    }
    .slick-prev {
        left: -12.5px;
    }
    .slick-next {
        right: -12.5px;
    }
    .slick-prev:before {
        content: url("data:image/svg+xml;utf8,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 640 640%22><path d=%22M164.7 331.3C158.5 325.1 158.5 314.9 164.7 308.7L372.7 100.7C378.9 94.5 389.1 94.5 395.3 100.7C401.5 106.9 401.5 117.1 395.3 123.3L198.6 320L395.3 516.7C401.5 522.9 401.5 533.1 395.3 539.3C389.1 545.5 378.9 545.5 372.7 539.3L164.7 331.3z%22/></svg>");
        width: 16px;
        height: 35px;
        left: 50%;
    }
    .slick-next:before {
        content: url("data:image/svg+xml;utf8,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 640 640%22><path d=%22M475.3 308.7C481.5 314.9 481.5 325.1 475.3 331.3L267.3 539.3C261.1 545.5 250.9 545.5 244.7 539.3C238.5 533.1 238.5 522.9 244.7 516.7L441.4 320L244.7 123.3C238.5 117.1 238.5 106.9 244.7 100.7C250.9 94.5 261.1 94.5 267.3 100.7L475.3 308.7z%22/></svg>");
        width: 16px;
        height: 35px;
        left: 50%;
    }
}

// Controller slider

.controls-slider {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 15px;
    button {
        display: flex;
        justify-content: center;
        align-items: center;
        background: transparent;
        border: 1px solid variables.$primary-color;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        transition: all ease 0.3s;
        svg {
            path {
                fill: variables.$primary-color;
                transition: all ease 0.3s;
            }
        }
        &:hover {
            background: variables.$primary-color;
            svg {
                path {
                    fill: variables.$font-color;
                }
            }
        }
    }
    &.controls-white {
        button {
            background: transparent;
            border: 1px solid #fff;
            svg {
                path {
                    fill: #fff;
                }
            }
            &:hover {
                background: #fff;
                svg {
                    path {
                        fill: variables.$primary-color;
                    }
                }
            }
        }
    }
}

// Scrollbar overflow slider

.scroll-slider {
    &::-webkit-scrollbar {
        width: 8px;
        height: 8px;
        background: transparent;
    }
    &::-webkit-scrollbar-thumb {
        background: rgba(0, 0, 0, 0);
        border-radius: 4px;
    }
}

// Modal

.modal {
    width: 100dvw;
    height: 100dvh;
    background: #000000b3;
    .close-modal {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        width: 20px;
        height: 20px;
        top: -10px;
        right: -10px;
        background-color: #fff;
        z-index: 1;
        border-radius: 50%;
        transition: all ease 0.3s;
        cursor: pointer;
        svg {
            fill: variables.$primary-color;
            width: 14px;
            transition: all ease 0.3s;
        }
        &:hover {
            background-color: variables.$primary-color;
            svg {
                fill: #fff;
            }
        }
    }
    .modal-content {
        background: transparent;
        width: 80dvw;
        height: 90dvh;
        left: 10dvw;
        top: 5dvh;
        border: none;
        .modal-body {
            padding: 0;
            .items-slider {
                visibility: hidden;
                height: 90dvh;
                .slider-item {
                    height: 90dvh;
                    .thumbnail {
                        object-fit: cover;
                        max-height: 80dvh;
                        border-radius: 5px;
                    }
                    .texts {
                        position: absolute;
                        left: 2%;
                        bottom: 0;
                        display: grid;
                        grid-template-columns: repeat(2, 1fr);
                        background-color: #fff;
                        border-radius: 5px;
                        padding: 15px;
                        width: 96%;
                        h3 {
                            font-size: variables.$font-size-medium !important;
                            font-weight: bold;
                        }
                        svg {
                            width: 20px;
                        }
                        span {
                            font-weight: 500;
                            gap: 8px;
                        }
                        .conteudo-item {
                            font-size: variables.$font-size-small;
                            line-height: variables.$line-height-font-size-small;
                        }
                    }
                }
                &.slick-initialized {
                    visibility: visible;
                }
            }
        }
    }
    &.marcoModal {
        .modal-content {
            width: 60dvw;
            left: 20dvw;
            .modal-body {
                .items-slider {
                    .slider-item {
                        .texts {
                            grid-template-columns: minmax(0, 30%) 1fr;
                            gap: 0 30px;
                            padding: 15px 30px 15px 45px;
                            .itens-marco {
                                font-size: variables.$font-size-small;
                                line-height: variables.$line-height-font-size-small;
                            }
                            .next-slide {
                                display: flex;
                                align-items: center;
                                justify-content: flex-end;
                                font-size: variables.$font-size-medium;
                                line-height: variables.$line-height-font-size-medium;
                                color: #9f9f9f;
                                font-weight: bold;
                                grid-column: 2;
                                grid-row: 2;
                                cursor: pointer;
                                transition: all ease 0.3s;
                                .arrow-next {
                                    display: inline-flex;
                                    justify-content: center;
                                    background-color: #9f9f9f;
                                    border-radius: 50%;
                                    width: 25px;
                                    height: 25px;
                                    transition: all ease 0.3s;
                                    svg {
                                        width: 15px;
                                    }
                                }
                                &:hover {
                                    color: variables.$primary-color;
                                    .arrow-next {
                                        background-color: variables.$primary-color;
                                    }
                                }
                            }
                            &::before {
                                content: "";
                                position: absolute;
                                left: 30px;
                                bottom: 0;
                                background-color: variables.$secondary-color;
                                width: 1px;
                                height: 85%;
                            }
                            &::after {
                                content: "";
                                position: absolute;
                                left: 25px;
                                top: calc(15% - 10px);
                                background-color: variables.$primary-color;
                                width: 11px;
                                height: 11px;
                                border-radius: 50%;
                            }
                        }
                    }
                    .slick-dots {
                        display: flex !important;
                        justify-content: flex-start;
                        gap: 10px;
                        width: 96%;
                        left: 2%;
                        li {
                            width: 60px;
                            height: 70px;
                            border-radius: 6px;
                            overflow: hidden;
                            margin: 0;
                            opacity: 0.4;
                            transition: opacity 0.3s ease;
                            &.slick-active {
                                opacity: 1;
                            }

                            img {
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                                display: block;
                            }
                        }
                    }
                }
            }
        }
    }
    &.contactModal {
        .close-modal {
            top: 10px;
            right: 20px;
            svg {
                fill: #000;
                width: 20px;
            }
            &:hover {
                background: #fff;
                svg {
                    fill: variables.$secondary-color;
                }
            }
        }
        .modal-body {
            padding: 40px 105px 60px;
            overflow: auto;
            .modal-title {
                position: relative;
                h3 {
                    font-size: variables.$font-size-large;
                    line-height: variables.$line-height-font-size-large;
                    span {
                        color: variables.$primary-color;
                    }
                }
                span {
                    color: #636363;
                }
                &::before {
                    content: "";
                    position: absolute;
                    top: -15%;
                    left: -50px;
                    width: 5px;
                    height: 130%;
                    background-color: variables.$secondary-color;
                    border-radius: 5px;
                }
            }
            .formulario-contato {
                .wpcf7 {
                    form {
                        color: #000;
                        input[type="text"],
                        input[type="email"],
                        input[type="tel"],
                        textarea {
                            border: 1px solid #707070;
                            border-radius: 30px;
                            height: 30px;
                        }
                        textarea {
                            border-radius: 15px;
                        }
                        .form-bottom {
                            background-color: transparent;
                            padding: 0;
                            border-radius: 0;
                            color: #000;
                            .checks {
                                a {
                                    color: #000;
                                }
                            }
                            .submit-button {
                                margin-top: 0;
                            }
                        }
                    }
                }
            }
        }
    }
}

// Case item

.lista-cases {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}
.case-item {
    position: relative;
    cursor: pointer;
    .thumbnail {
        position: relative;
        border-radius: 5px;
    }
    .chapeu-case {
        position: absolute;
        top: 5%;
        left: 5%;
        background-color: variables.$secondary-color;
        color: variables.$primary-color;
        font-size: variables.$font-size-xsmall;
        padding: 3px 12px;
        border-radius: 30px;
    }
    .texts {
        position: absolute;
        bottom: 5%;
        left: 5%;
        color: #fff;
        width: 90%;
        z-index: 1;
        h3 {
            font-size: variables.$font-size-medium !important;
            font-weight: bold;
        }
        svg {
            width: 20px;
        }
        span {
            font-size: variables.$font-size-base;
        }
        img {
            max-width: 80px;
            height: auto;
            border-radius: 0;
        }
    }
    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, #000 100%);
        border-radius: 5px;
    }
}

// Formulários

.wpcf7 {
    form {
        color: variables.$font-color;
        .form-row {
            display: grid;
            gap: 15px;
            margin-bottom: 15px;
            &.cols-1 {
                grid-template-columns: 1fr;
            }
            &.cols-2 {
                grid-template-columns: 1fr 1fr;
            }
            &.cols-1-2 {
                grid-template-columns: 0.5fr 1fr 2fr;
            }
            &.cols-3 {
                grid-template-columns: 1fr 1fr 1fr;
            }
            label {
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                font-size: variables.$font-size-small;
                font-weight: 100;
                input,
                select,
                textarea {
                    font-size: variables.$font-size-small;
                    color: #333;
                    background: #fff;
                    width: 100%;
                    border-radius: 20px;
                    border: none;
                    margin-top: 5px;
                    padding: 10px 15px;
                    box-sizing: border-box;
                    outline: none;
                }
                textarea {
                    min-height: 120px;
                    resize: vertical;
                }
            }
        }
        .form-bottom {
            background-color: rgba(0, 0, 0, 0.22);
            padding: 20px;
            border-radius: 5px;
            color: variables.$font-color;
            strong {
                font-size: variables.$font-size-small;
            }
            .arquivos-permitidos {
                font-size: variables.$font-size-xsmall;
                opacity: 0.8;
            }
            .fields {
                justify-content: space-between;
                gap: 15px;
                margin-top: 30px;
                .checks {
                    .wpcf7-list-item {
                        margin: 0;
                        label {
                            display: flex;
                            align-items: center;
                            gap: 10px;
                            font-size: variables.$font-size-small;
                            a {
                                color: variables.$font-color;
                                text-decoration: underline;
                            }
                        }
                    }
                }
            }
            .btn {
                font-weight: 500;
            }
        }
        .submit-button {
            text-align: right;
            margin-top: 30px;
        }
    }
}
.wpcf7 form .wpcf7-response-output {
    border-radius: 5px;
    padding: 10px;
}
.wpcf7 form.invalid .wpcf7-response-output,
.wpcf7 form.unaccepted .wpcf7-response-output,
.wpcf7 form.payment-required .wpcf7-response-output {
    background-color: variables.$error-color;
    color: variables.$error-font-color;
    border: 1px solid variables.$error-font-color;
}
.wpcf7 form.sent .wpcf7-response-output {
    background-color: variables.$secondary-color;
    color: variables.$primary-color;
    border: 1px solid variables.$primary-color;
}

// Seção de posts

.section-category {
    padding-bottom: 80px;
    a {
        text-decoration: none;
    }
    .top-category {
        .section-title {
            height: max-content;
            h2 {
                padding-left: 50px;
            }
            &::before {
                left: 0;
            }
        }
        a {
            font-size: variables.$font-size-small;
            line-height: variables.$line-height-font-size-small;
            color: variables.$font-color;
            text-decoration: none;
            transition: all ease 0.3s;
            &:hover {
                color: variables.$secondary-color;
            }
        }
    }
    .row {
        gap: 30px 0;
        article {
            position: relative;
            figure {
                overflow: hidden;
                border-radius: 5px;
                margin-bottom: -15px;
                img {
                    aspect-ratio: 275/216;
                    object-fit: cover;
                    border-radius: 5px;
                    transition: all ease 0.3s;
                }
            }
            .content-post {
                margin-left: 2%;
                width: 96%;
                background: #dbdbdb;
                box-shadow: 0px 3px 6px #00000029;
                border-radius: 5px;
                padding: 10px;
                height: 120px;
                z-index: 1;
                transition: all ease 0.3s;
                h2,
                h3 {
                    font-size: variables.$font-size-small;
                    line-height: variables.$line-height-font-size-small;
                    color: variables.$secondary-font-color;
                    font-weight: lighter;
                }
                span {
                    font-size: variables.$font-size-xsmall;
                    line-height: variables.$line-height-font-size-xsmall;
                    color: #9f9f9f;
                }
            }
            &:hover {
                img {
                    transform: scale(1.1);
                }
                .content-post {
                    margin-left: 0;
                    padding: 10px 15px;
                    width: 100%;
                }
            }
        }
    }
}
