# WordPress content
wp-content/upgrade/
wp-content/cache/

# OS files
.DS_Store
Thumbs.db

# IDE / Editor
.idea/
.vscode/

# Logs and databases
*.log
*.sql
*.sqlite
*.env

# Node / NPM
node_modules/
npm-debug.log
yarn-error.log


# Backup files
*.bak
*.tmp
*.swp
